body {
    background-image: linear-gradient(30deg,#708090, transparent);
    background-repeat: no-repeat;
    background-color: $cor-tela;
    height: 100%;
    position: relative;
    padding-bottom:100px; 
}
.main{
    @include page-margin;
    @include flex-start;
    position: relative;
    top: 110px;
    margin-bottom: 250px;

    @media (max-width:600px) {
        margin-bottom: 250px;
    }

    &__inner {
        @include flex-start;
        align-items: center;
        margin-top: 30px;
    
        &__title {
            font-weight: bold;
            font-size: 26px;
            text-align: center;
            text-shadow: 1px 1px #fff;
        }
        &__form {
            padding-top: 25px;
            
            .email {
                width: 100%;
                height: 25px;
            }
            .submit {
                @include btn;
                margin-top: 15px;
                font-size: 1em;
                font-weight: 900;
                height: 30px;

            }
            .submit:hover {
                background-color: orange;
            }
        }
    }
}

.features {
    display: flex;
    flex-direction: column;
    align-items: baseline;
 
    &__paragraph {
 
       h1 {
          font-size: 20px;
          font-weight: bold;
       }
    }
 }