.features {

   @include page-margin;
   display: flex;
   flex-direction: column;
   align-items: baseline;
   max-width: 700px;

   @media #{$screen-phone} {
      align-items: center;
   }

   h1 {
      font-weight: bold;
      font-size: 25px;
   }
   h1:after {
      content: "";
      background-color:$cor-menu-topo;
      width: 100%;
      height: 4px;
      display: block;
      margin-top: 10px;
   }

   &__parag {
      font-size: 20px;
      text-align: justify;
      width: 86%;
      margin: 20px 0 60px 0;
      }
     
   }


