.container {
    position: fixed;
    width: 100%;
    @include flex-start;
    background-color:$cor-menu-topo;
    z-index: 1;
    
    &__img-logo{
        @include flex-start;
        position: relative;
        margin: 20px;
        
        img{
            height: 48px;

            @media #{$screen-phone} {
                height: 45px;
            }
            @media (max-width:360px) {
                height: 40px;
            }
            @media (max-width:320px) {
                height: 35px;
            }
        }
    }  
    
    &__menu-lista{
        position: relative;
        text-align: center;
        padding-bottom: 8px;
        width: 100%;
        
        .item-menu-lista{
            display: inline-block;
            font-size: 16px;
        }
        li:nth-child(2){
            margin: 0 10vw 0 10vw;
        }
    }
}

